* {
    margin: 0;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
  }
  
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    width: 40%;
    background-color: #000;
  }
  
  .logo {
    width: 10%;
    padding: 35px 0px 0px 35px;
  }
  
  .text {
    width: 90%;
  }
  
  .heading {
    height: 20vh;
    width: 28vw;
    line-height: 1.1;
    margin: 70px 0px 0px 40px;
  }
  .heading h1 {
    font-family: "Helvetica Neue", Arial, sans;
    font-size: 45px;
    text-align: left;
    color: white;
  }
  
  .text__container {
    display: flex;
    justify-content: center;
    color: #949494;
    font-weight: 500;
  }
  
  .nav__logo {
    padding-bottom: 18px;
  }
  
  .seats {
    width: 50%;
    height: 20vh;
    text-align: left;
    max-width: 12vw;
    padding-left: 10px;
  }
  
  .cancel {
    width: 50%;
    height: 20vh;
    max-width: 12vw;
    text-align: left;
    padding-left: 50px;
  }
  
  
  .main__ka__second__child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Helvetica Neue", sans-serif;
    width: 60%;
  }
  ::placeholder {
    color: #949494;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  .main__ka__second__child span i {
    padding: 0px 0px 50px 10px;
    font-size: 20px;
  }
  
  .main__ka__second__child .form {
    width: 60%;
    text-align: left;
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 40px;
  }
  
  fieldset {
    margin-top: 10px;
    border: none;
  }

  .main__ka__second__child legend {
    /* padding-top: 10px; */
    font-size: 17px;
    font-weight: 500;
    color: gray;
  }
  
  .main__ka__second__child .one__way {
    color: #000;
    font-size: 36px;
    border-bottom: 1px solid #e42c01;
    font-weight: 700;
    margin-bottom: 40px;
    padding-bottom: 7px;
  }
  
  .main__ka__second__child .flight{
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    width: 90%;
    /* padding: 10px 20px 20px 10px; */
  }
  
  .main__ka__second__child .flight .first{
    display: flex;
    justify-content: space-between;
  }

   .main__ka__second__child .flight .first h1{
    padding: 10px 0px 0px 20px;
    font-weight: 600;
    font-size: 32px;
  }
  
  .main__ka__second__child .flight .first h3{
    padding: 15px 20px 0px 0px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .main__ka__second__child .flight .second{
    display: flex;
      justify-content: space-between;

  }

 .main__ka__second__child .flight .second h2{
    padding: 0px 0px 15px 20px;
    font-weight: 500;
    font-size: 20px;
  }
  
  .main__ka__second__child .flight .second h5{
    padding: 0px 20px 15px 0px;
    font-size: 14px;
    color: #949494;
    font-weight: 500;
  }

  .main__ka__second__child .form_submit span {
    display: inline-block;
    position: relative;
    right: 50px;
    font-size: 18px;
    color: white;
  }
  
  .main__ka__second__child .form_submit input[type="submit"] {
    cursor: pointer;
    width: 87%;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px 0px 20px 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    border: none;
    margin: 30px 0px 0px 7px;
  }
.right_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Helvetica Neue", sans-serif;
  width: 60%;
  align-items: center;
    /* background-color: blue; */
}

.icon{
  height: 10vh;
  width: 10vw;
  /* background-color: yellow; */
  font-size: 75px;
  color: black;
  text-align: center;
  padding-bottom: 35px;
}
.text_2{
  height: 8vh;
  width: 60vw;
  text-align: center;
  color: #282828;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  /* background-color: red; */
}
.link{
            padding-top: 5px;
            margin-bottom: 50px;
        }
        .link a:hover{
            text-decoration: underline;
            text-decoration-color: #282828;
        }
        .link a{
            text-decoration: none;
            color: #4f4f4f;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 20px; 
            transition: 0.3s all ease-in-out;           
        }
        .link a span{
            font-size: 15px;
        }